doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Actualizar Héroe
    link(rel='stylesheet', href='/css/formularios.css')
    link(rel='stylesheet', href='https://unpkg.com/boxicons@latest/css/boxicons.min.css')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css', rel='stylesheet')
    link(rel='icon', href='/img/favicon/favicon.ico', type='image/x-icon')
  body
    // navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.navbar-background
      .container
        a.navbar-brand(href='/admin/heroes')
          img(src='/img/back.png', alt='Volver', class='back')
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span
            img.menu(src='/img/menu.png', alt='')
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav
            li.nav-item
              a.nav-link.text-white(href='/admin/heroes') Héroe
            li.nav-item
              a.nav-link.text-white(href='/admin/armas') Arma
            li.nav-item
              a.nav-link.text-white(href='/admin/armaduras') Armadura
            li.nav-item
              a.nav-link.text-white(href='/admin/items') Ítem
            li.nav-item
              a.nav-link.text-white(href='/admin/epicas') Épica
          a.nav-link(href='#', id='toggle-collapse')
            i.bi.bi-list
    // form-container
    .container.form-container
      h1.mt-5.text-lg-center Formulario de Actualización de #{hero ? hero.nombre : 'Héroe'}
      form.card-form(action=`/admin/actualizarcarta/${hero._id}`, method='POST')
        input(type='hidden', name='id', value=hero ? hero._id : '')
        // Fila 1
        .row.mb-3
          .col-md-6
            label.form-label(for='nombre') Nombre:
            input.form-control(type='text', id='nombre', name='nombre', required, maxlength='19', value=hero ? hero.nombre : '')
          .col-md-6
            label.form-label(for='descuento') Descuento:
            input.form-control(type='number', id='descuento', name='descuento', required, value=hero ? hero.descuento : '')
        // Fila 2
        .row.mb-3
          .col-md-6
            label.form-label(for='descripcion') Descripción:
            input.form-control(type='text', id='descripcion', name='descripcion',maxlength='85', value=hero ? hero.descripcion : '')
          .col-md-6
            label.form-label(for='poder') Poder:
            input.form-control(type='text', id='poder', name='poder', required, value=hero ? hero.poder : '')
        // Fila 3
        .row.mb-3
          .col-md-6
            label.form-label(for='tipo') Tipo:
            select.form-select(name='tipo', id='tipo', required, disabled)
              option(value='Tanque', selected=hero ? hero.tipo === 'Tanque' : '') Tanque
              option(value='Armas', selected=hero ? hero.tipo === 'Armas' : '') Armas
              option(value='Fuego', selected=hero ? hero.tipo === 'Fuego' : '') Fuego
              option(value='Hielo', selected=hero ? hero.tipo === 'Hielo' : '') Hielo
              option(value='Veneno', selected=hero ? hero.tipo === 'Veneno' : '') Veneno
              option(value='Machete', selected=hero ? hero.tipo === 'Machete' : '') Machete
          .col-md-6
            label.form-label(for='clase') Clase:
            select.form-select(id='clase', name='clase', required, disabled)
              option(value='Guerrero', selected=hero ? hero.clase === 'Guerrero' : '') Guerrero
              option(value='Mago', selected=hero ? hero.clase === 'Mago' : '') Mago
              option(value='Pícaro', selected=hero ? hero.clase === 'Pícaro' : '') Pícaro
        // Fila 4
        .row.mb-3
          .col-md-6
            label.form-label(for='estado') Estado:
            select.form-select(name='estado', id='estado', required)
              option(value='true', selected=hero ? hero.estado : '') Activo
              option(value='false', selected=hero ? !hero.estado : '') Inactivo
          .col-md-6
            label.form-label(for='precio') Precio:
            input.form-control(type='number', id='precio', name='precio', required, value=hero ? hero.precio : '')
        // Fila 5
        .row.mb-3
          .col-md-6
            label.form-label(for='vida') Vida:
            input.form-control(type='number', id='vida', name='vida', required, value=hero ? hero.vida : '')
          .col-md-6
            label.form-label(for='defensa') Defensa:
            input.form-control(type='number', id='defensa', name='defensa', required, value=hero ? hero.defensa : '')
        // Fila 6
        .row.mb-3
          .col-md-6
            label.form-label(for='ataqueBase') Ataque Base:
            input.form-control(type='number', id='ataqueBase', name='ataqueBase', required, value=hero ? hero.ataqueBase : '')
          .col-md-6
            label.form-label(for='ataqueRnd') Ataque Rnd:
            input.form-control(type='number', id='ataqueRnd', name='ataqueRnd', required, value=hero ? hero.ataqueRnd : '')
        // Fila 7
        .row.mb-3
          .col-md-6
            label.form-label(for='dano') Daño:
            input.form-control(type='number', id='dano', name='dano', required, value=hero ? hero.daño : '')
          .col-md-6
            label.form-label(for='stock') Stock:
            input.form-control(type='number', id='stock', name='stock', required, value=hero ? hero.stock : '')
        // Botón de envío y cancelar
        .row.mt-3(style="justify-content: center;")
          .col-md-6
            div.d-flex.justify-content-between.align-items-center
              a.aimg.btn.btn-secondary(href=`/admin/heroes`) Cancelar
              button.btn.btn-primary.ml-auto.top-0(type='submit') Actualizar #{hero ? hero.nombre : 'Héroe'}

    // bootstrap js link
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js')
