doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gestión de Epicas
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/css/GestionCartas.css')
    link(href='https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;800&family=Irish+Grover&family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap', rel='stylesheet')
    link(rel='icon', href='/img/favicon/favicon.ico', type='image/x-icon')
  body
    header.header
      nav.nav
        a(href='#') Subasta
        a(href='#') Intercambio
        a(href='#') Torneos
      nav.nav
        a(href='#') Mi banco
        a(href='#') Jugar online
        a(href='#') Perfil
    br
    center
      div.button-container
        div.add-card-button2
          a(href='/admin/crearepica')
            button.button Añadir Épica
        div.add-card-button2
          a(href='/')
            button.button Inicio
    br
    div.container.text-center.dflex.justify-content-center
      div.row
        each epica in epicas
          div.col
            div.card(style='width: 18rem;')
              div.card-body
                h5.card-title #{epica.nombre}
              img.card-img-top(src=epica.imagen, alt=`Imagen de ${epica.nombre}`)
              div.card-body
                div.row
                  div.col
                    p Clase: #{epica.clase}
                  div.col
                    p Stock: #{epica.stock}
                div.row
                  div.col
                    p Precio: #{epica.precio}
                  div.col
                    p Tipo: #{epica.tipo}
                div.row
                  div.col
                    if epica.efecto
                      p Efecto Normal: Aumenta #{epica.efecto.estadistica} en #{epica.efecto.valorAfectado}
                    else
                      p Efecto Normal: No disponible
                  div.col
                    if epica.efectoHeroe
                      p Efecto Especial: Aumenta #{epica.efectoHeroe.estadistica} en #{epica.efectoHeroe.valorAfectado}
                    else
                      p Efecto Especial: No disponible
              div.row.botones_carta
                  div.col
                    a(href=`/admin/actualizarepica/${epica._id}`)
                      button.button(href=`/admin/actualizarepica/${epica._id}`) Modificar
                  div.col
                    button.button(type='button', data-epica-id=epica._id, onclick='cambiarEstadoEpica(event)') #{epica.estado ? 'Suspender' : 'Activar'}

    center
      ul.pagination
        if currentPage > 1
          li
            a(href=`/admin/epicas?page=${currentPage - 1}`) Anterior
        each pageNum in Array(totalPages).fill().map((_, i) => i + 1)
          li
            a(href=`/admin/epicas?page=${pageNum}`, class=pageNum === currentPage ? 'current' : '')= pageNum
        if currentPage < totalPages
          li
            a(href=`/admin/epicas?page=${currentPage + 1}`) Siguiente
    // Scripts
    script(src='/js/bootstrap.js')
    script(src='/js/scriptEpicas.js')
