doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gestion Heroes
    // Enlaces a las hojas de estilo
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/css/GestionCartas.css')
    link(href='https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;800&family=Irish+Grover&family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap', rel='stylesheet')
    link(rel='icon', href='/img/favicon/favicon.ico', type='image/x-icon')
  body
    // Encabezado
    header.header
      nav.nav
        a(href='#') Subasta
        a(href='#') Intercambio
        a(href='#') Torneos
      nav.nav
        a(href='#') Mi banco
        a(href='#') Jugar online
        a(href='#') Perfil
    br
    center
      // Contenedor de botones
      div.button-container
        // Botón para añadir héroe
        div.add-card-button2
          a(href='/admin/crearcarta')
            button.button Añadir Heroe
        // Botón para ver armaduras
        div.add-card-button2
          a(href='/')
            button.button Inicio
    br
    div.container.text-center.d-flex.justify-content-center
      // Comienza el bucle para mostrar héroes
      // Asegúrate de que esta sección se repita dinámicamente con tus datos
      div.row
        each hero in heroes
            div.col
              div.card(style='width: 18rem;')
                div.card-body
                  h5.card-title #{hero.nombre}
                img.card-img-top(src=`https://cards.thenexusbattles2.cloud/assets/${hero.imagen}`, alt=`Imagen de ${hero.nombre}`)
                div.card-body
                  div.row
                    div.col
                      p Poder: #{hero.poder}
                    div.col
                      p Vida: #{hero.vida}
                  div.row
                    div.col
                      p Defensa: #{hero.defensa}
                    div.col
                     p Stock: #{hero.stock}
                  div.row
                    div.col
                      p Ataque: #{hero.ataqueBase}
                    div.col
                      p Daño: #{hero.daño}
                  div.row
                    div.col
                      p Precio: #{hero.precio.toLocaleString('es-CO', { style: 'currency', currency: 'COP', minimumFractionDigits: 0, maximumFractionDigits: 0 })}
                    div.col
                      p Tipo: #{hero.tipo}
                div.row.botones_carta
                  div.col
                    a(href=`/admin/actualizar/${hero._id}`)
                      button.button(href=`/admin/actualizar/${hero._id}`) Modificar
                  div.col
                    button.button(type='button', data-hero-id=hero._id, onclick='cambiarEstadoHeroe(event)') #{hero.estado ? 'Suspender' : 'Activar'}
        // Fin del bucle para mostrar héroes
    center
      ul.pagination
        if currentPage > 1
          li
            a(href=`/admin/heroes?page=${currentPage - 1}`) Anterior
        each pageNum in Array(totalPages).fill().map((_, i) => i + 1)
          li
            a(href=`/admin/heroes?page=${pageNum}`, class=pageNum === currentPage ? 'current' : '')= pageNum
        if currentPage < totalPages
          li
            a(href=`/admin/heroes?page=${currentPage + 1}`) Siguiente
    // Scripts
    script(src='/js/bootstrap.js')
    script(src='/js/scriptCartas.js')
