doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gestión de Items
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/css/GestionCartas.css')
    link(href='https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;800&family=Irish+Grover&family=Playfair+Display:wght@700&family=Raleway:wght@400;700;900&display=swap', rel='stylesheet')
    link(rel='icon', href='/img/favicon/favicon.ico', type='image/x-icon')
  body
    header.header
      nav.nav
        a(href='#') Subasta
        a(href='#') Intercambio
        a(href='#') Torneos
      nav.nav
        a(href='#') Mi banco
        a(href='#') Jugar online
        a(href='#') Perfil
    br
    center
      div.button-container
        div.add-card-button2
          a(href='/admin/crearitem')
            button.button Añadir Item
        div.add-card-button2
          a(href='/')
            button.button Inicio
    br
    div.container.text-center.dflex.justify-content-center
      div.row
        each item in items
          div.col
            div.card(style='width: 18rem;')
              div.card-body
                h5.card-title #{item.nombre}
              img.card-img-top(src=item.imagen, alt=`Imagen de ${item.nombre}`)
              div.card-body
                div.row
                  div.col
                    p Clase: #{item.clase}
                  div.col
                    p Stock: #{item.stock}
                div.row
                  div.col
                    p Precio: #{item.precio}
                  div.col
                    p Tipo: #{item.tipo}
                div.row
                  div.col
                    if item.efecto
                      p Efecto: Aumenta #{item.efecto.estadistica} en #{item.efecto.valorAfectado}
                    else
                      p Efecto: No disponible
                  div.col
                    if item.efectoHeroe
                      p Efecto del Héroe: #{item.efectoHeroe}
                    else
                      p Efecto del Héroe: No disponible
              div.row.botones_carta
                  div.col
                    a(href=`/admin/seleccionactualizaritem/${item._id}`)
                      button.button(href=`/admin/seleccionactualizaritem/${item._id}`) Modificar
                  div.col
                    button.button(type='button', data-item-id=item._id, onclick='cambiarEstadoItem(event)') #{item.estado ? 'Suspender' : 'Activar'}

    center
      ul.pagination
        if currentPage > 1
          li
            a(href=`/admin/items?page=${currentPage - 1}`) Anterior
        each pageNum in Array(totalPages).fill().map((_, i) => i + 1)
          li
            a(href=`/admin/items?page=${pageNum}`, class=pageNum === currentPage ? 'current' : '')= pageNum
        if currentPage < totalPages
          li
            a(href=`/admin/items?page=${currentPage + 1}`) Siguiente
    // Scripts
    script(src='/js/bootstrap.js')
    script(src='/js/scriptItems.js')
